.page-body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @base-color;
}

.visually-hidden {
  position: absolute;
  margin: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
