.advantages {
  padding-top: 6px;
  width: 100%;
}

.advantages__text {
  margin: 0;
}

.advantages__phrase {
  width: 320px;
  margin: 0;
  .padding();
  .margin();
  font-weight: 300;
  font-size: 24px;
  margin-top: 40px;
  text-align: center;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 65px;
  }

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 45px;

    &--one {
      width: 640px;
    }

    &--two {
      width: 380px;
      margin-top: 0;
    }
  }
}

.advantages__wrapper {
  width: 100%;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    width: 620px;
    .margin();
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 10% 50%;
  }
}

.advantages__list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  .padding();
  .margin();
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 53px;
  padding-bottom: 280px;
  box-sizing: border-box;
  list-style: none;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 110%;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 340px;
    padding-top: 25px;
    margin-right: 0;
    padding-left: 0;
    padding-bottom: 45px;
    text-align: left;
    background: none;
  }
}

.advantages__item {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.advantages__feature {
  display: block;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  color: black;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
  }
}
