.button {
  display: inline-block;
  width: 278px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15.5px;
  padding-bottom: 15.5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  border-radius: 30px;
  box-sizing: border-box;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    min-width: 260px;
    padding-left: 37px;
    padding-right: 37px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 26px;
    padding-right: 26px;
    font-size: 21px;
    line-height: 18px;
  }
}

.button--submit {
  color: @pink-color;
  border: 3px solid @pink-color;
}

.button--reset {
  color: fade(@base-color, 10%);
  border: 3px solid fade(@base-color, 10%);
}
