.button {
  display: inline-block;
  width: 278px;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 15.5px;
  padding-bottom: 15.5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  border-radius: 30px;
  box-sizing: border-box;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    width: 260px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

.button--submit {
  color: @pink-color;
  border: 3px solid @pink-color;

  &:hover {
    background-color: @pink-color;
    color: white;
  }

  &:active {
    background-color: @pink-color;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    padding-left: 41px;
    letter-spacing: 1px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 44px;
  }
}

.button--reset {
  color: fade(@base-color, 10%);
  border: 3px solid rgba(40, 54, 69, 0.1);

  &:hover {
    color: fade(@base-color, 30%);
    border: 3px solid rgba(40, 54, 69, 0.3);
  }

  &:active {
    color: fade(white, 30%);
    background-color: rgba(40, 54, 69, 0.3);
    border: 3px solid rgba(40, 54, 69, 0);
  }

  @media (min-width: @desktop-width) {
    padding-left: 57px;
    padding-right: 57px;
  }
}
