.contest-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  .margin();

  @media (min-width: @tablet-width) {
    width: 640px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    padding: 0;
  }
}

.contest-form__wrapper {
  width: 320px;
  padding: 0;
  .padding();
  .margin();
  box-sizing: border-box;
  border: none;

  @media (min-width: @tablet-width) {
    width: 620px;
    padding-bottom: 50px;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    min-width: 435px;
    max-width: 940px;
    margin: 0;
    padding-bottom: 54px;
  }
}

fieldset.contest-form__wrapper {
  @media (min-width: @tablet-width) {
    border: 2px solid #e5e5e5;
  }
}

.contest-form__wrapper--contacts {
  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-bottom: 25px;
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 54px;
    padding-bottom: 14px;
    margin-bottom: 60px;
  }
}

.contest-form__flex {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.contest-form__wrapper--textarea {
  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 44px;
  }
}

.contest-form__wrapper--button {
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    order: 6;
    padding: 0;
    margin-top: 67px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 64px;
    margin-bottom: 0;
  }
}

.contest-form__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  .margin();
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    &--one {
      order: 1;
    }

    &--two {
      order: 4;
    }

    &--three {
      order: 3;
    }

    &--four {
      order: 2;
    }

    &--five {
      order: 5;
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin: 0;

    &--one {
      width: 435px;
      margin-right: 70px;
    }

    &--two {
      width: 940px;
    }

    &--three {
      width: 940px;
      margin-bottom: 10px;
    }

    &--four {
      width: 435px;
    }

    &--five {
      width: 940px;
    }
  }
}

.contest-form__list--grey {
  padding-bottom: 42px;
  margin-top: 12px;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    padding-bottom: 67px;
    background-color: white;
  }

  @media (min-width: @desktop-width) {
    margin-top: -6px;
    padding-bottom: 65px;
  }
}

.contest-form__list--two {
  @media (min-width: @tablet-width) {
    padding-bottom: 63px;
  }
}

.contest-form__list--two .contest-form__wrapper {
  @media (min-width: @desktop-width) {
    padding-left: 16px;
  }
}

.contest-form__list--two .contest-form__flex-row {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.contest-form__list--two .contest-form__checkbox-flex {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 320px;
    margin-bottom: 0;

    &:first-child {
      margin-right: 12px;
    }

    &:nth-child(3n) {
      margin-left: -12px;
    }
  }
}

.contest-form__list--four {
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 19px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -6px;
    padding-bottom: 65px;
  }
}

.contest-form__header {
  display: block;
  width: 220px;
  padding-top: 37px;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @pink-color;
  text-transform: uppercase;
  text-align: center;

  &--three {
    margin-bottom: 34px;
  }

  &--four {
    margin-bottom: 16px;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
    margin-top: -10px;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 31px;
    text-align: center;
    background-color: white;

    &--one {
      width: 390px;
      margin-left: 70px;
      margin-bottom: 44px;
    }

    &--two {
      width: 200px;
      margin-left: 165px;
    }

    &--three {
      width: 335px;
      margin-left: 100px;
      margin-bottom: 43px;
    }

    &--four {
      width: 200px;
      margin-left: 185px;
      margin-bottom: 38px;
    }
  }

  @media (min-width: @desktop-width) {
    &--one {
      width: 390px;
      margin-left: 250px;
      margin-bottom: 44px;
    }

    &--three {
      width: 320px;
      margin-left: 10px;
      margin-bottom: 45px;
    }

    &--four {
      width: 200px;
      margin-left: 335px;
      margin-bottom: 38px;
    }
  }
}

.contest-form__header--nomobile {
  position: absolute;
  margin: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);

  @media (min-width: @tablet-width) {
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: -10px;
    margin-bottom: 36px;
    margin-left: 165px;
    overflow: visible;
    clip: auto;
  }

  @media (min-width: @desktop-width) {
    margin-left: 283px;
  }
}

.contest-form__item--column {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: column-reverse;
    align-items: baseline;
  }
}

.contest-form__item--row {
  margin-top: -10px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: baseline;
    margin-top: 0;
  }
}

.contest-form__item--row:last-child .contest-form__text {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.contest-form__item--contacts .contest-form__text {
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    width: 81%;
    .margin();
    margin-bottom: 12px;
    padding-left: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 377px;
    margin-right: 68px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 30px;
  }
}

.contest-form__item--contacts:nth-child(2n) .contest-form__text {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.contest-form__label--pink {
  margin-bottom: 8px;
  margin-left: 23px;
  font-size: 14px;
  line-height: 30px;
  color: @pink-color;
  text-transform: uppercase;
}

.contest-form__label--personal {
  line-height: 24px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 21px;
    margin-left: -20px;
    margin-bottom: 70px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }
}

.contest-form__item--row:last-child .contest-form__label--personal {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.contest-form__label--contacts {
  position: relative;
  margin-top: 30px;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    margin-left: 78px;
    margin-top: 0;
    margin-bottom: 27px;
  }
}

.contest-form__label--phone {
  @media (min-width: @tablet-width) {
    &::after {
      content: "";
      position: absolute;
      z-index: 200;
      top: -73px;
      left: 418px;
      width: 60px;
      height: 60px;
      background-color: #e5e5e5;
      background-image: url("../img/icon-phone.svg");
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-left: 18px;

    &::after {
      top: -70px;
      left: 297px;
    }
  }
}

.contest-form__label--email {
  @media (min-width: @tablet-width) {
    &::after {
      content: "";
      position: absolute;
      z-index: 200;
      top: -73px;
      left: 418px;
      width: 60px;
      height: 60px;
      background-color: #e5e5e5;
      background-image: url("../img/icon-mail.svg");
      background-position: 50%;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    margin-left: 18px;

    &::after {
      top: -70px;
      left: 297px;
    }
  }
}

.contest-form__item--column:last-child .contest-form__label--contacts {
  margin-top: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.contest-form__label--grey {
  position: relative;
  display: block;
  padding-left: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 43px;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-left: 38px;
    padding-left: 60px;
  }
}

.contest-form__item:last-child .contest-form__label--grey {
  margin-bottom: 0;
}

.contest-form__label--radio {
  margin-bottom: 35px;

  @media (min-width: @desktop-width) {
    margin-left: 49px;
    margin-bottom: 35px;
  }
}

.contest-form__label--checkbox {
  @media (min-width: @desktop-width) {
    margin-bottom: 41px;
  }
}

.contest-form__checkbox + .contest-form__label--checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: white;
  border: 2px solid #e5e5e5;
}

.contest-form__checkbox:checked + .contest-form__label--checkbox::before {
  background-image: url("../img/icon-yes-pink.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.contest-form__radio + .contest-form__label--radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: white;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

.contest-form__radio:checked + .contest-form__label--radio::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-color: @pink-color;
  box-shadow: 0 0 0 10px white, 0 0 0 12px #e5e5e5;
  border: 0;
}

.contest-form__radio:hover + .contest-form__label--radio::before,
.contest-form__checkbox:hover + .contest-form__label--checkbox::before {
  border-color: @base-color;
}

.contest-form__radio:active + .contest-form__label--radio::before,
.contest-form__checkbox:active + .contest-form__label--checkbox::before {
  border-color: @pink-color;
}

.contest-form__text {
  position: relative;
  width: 280px;
  height: 63px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 21px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;

  &:hover {
    border: 2px solid @base-color;
  }

  &:active {
    border: 2px solid @pink-color;
  }

  &::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }

  &::-moz-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }

  &:-moz-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }

  &:-ms-input-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }

  @media (min-width: @tablet-width) {
    width: 97%;
    margin-bottom: 12px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.contest-form__textarea {
  width: 280px;
  min-height: 202px;
  padding: 15px 19px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;

  &:hover {
    border: 2px solid @base-color;
  }

  &:active {
    border: 2px solid @pink-color;
  }

  @media (min-width: @tablet-width) {
    display: block;
    width: 500px;
    min-height: 194px;
    margin-bottom: 0;
    .margin();
  }

  @media (min-width: @desktop-width) {
    width: 820px;
    min-height: 127px;
  }

  &::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }

  &::-moz-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }

  &:-moz-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }

  &:-ms-input-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }
}
