.contest-form {
  width: 100%;
  .margin();

  @media (min-width: @tablet-width) {
    width: 640px;
    .padding();
    box-sizing: border-box;
  }
}

.contest-form__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  .margin();
  box-sizing: border-box;
}

.contest-form__list--grey {
  padding-bottom: 42px;
  margin-top: 23px;
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    background-color: white;
  }
}

.contest-form__wrapper {
  width: 320px;
  padding: 0;
  .padding();
  .margin();
  box-sizing: border-box;
  border: none;

  @media (min-width: @tablet-width) {
    width: 620px;
    padding-bottom: 48px;
  }
}

.contest-form__wrapper--button {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
    margin-top: 67px;
    margin-bottom: 50px;
  }
}

fieldset.contest-form__wrapper {
  @media (min-width: @tablet-width) {
    border: 2px solid #e5e5e5;
  }
}

.contest-form__header {
  display: block;
  max-width: 220px;
  padding-top: 40px;
  margin-bottom: 40px;
  margin-left: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @pink-color;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: auto;
    padding: 0;
    margin: 0;
    margin-top: -10px;
    .margin();
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 31px;
    text-align: center;
    background-color: white;
  }
}

.contest-form__header--nomobile {
  position: absolute;
  margin: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);

  @media (min-width: @tablet-width) {
    position: relative;
    margin-top: -10px;
    margin-bottom: 40px;
    .margin();
    overflow: visible;
    clip: auto;
  }
}

.contest-form__item--column {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: column-reverse;
    align-items: baseline;
  }
}

.contest-form__item--row {
  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: baseline;
  }
}

.contest-form__label--pink {
  margin-bottom: 8px;
  margin-left: 23px;
  font-size: 14px;
  line-height: 30px;
  color: @pink-color;
  text-transform: uppercase;
}

.contest-form__label--personal {
  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 21px;
    margin-left: -20px;
    margin-bottom: 70px;
  }
}

.contest-form__item--row:last-child .contest-form__label--personal {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.contest-form__item--row:last-child .contest-form__text {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.contest-form__label--contacts {
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.contest-form__item--column:last-child .contest-form__label--contacts {
  margin-top: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.contest-form__label--grey {
  position: relative;
  display: block;
  padding-left: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 38px;
  margin-bottom: 43px;
  font-size: 18px;
  line-height: 30px;
}

.contest-form__item:last-child .contest-form__label--grey {
  margin-bottom: 0;
}

.contest-form__checkbox + .contest-form__label--checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: white;
  border: 2px solid #e5e5e5;
}

.contest-form__radio + .contest-form__label--radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: white;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contest-form__radio:checked + .contest-form__label--radio::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-color: @pink-color;
  box-shadow: 0 0 0 10px white, 0 0 0 12px #e5e5e5;
  border: 0;
}

.contest-form__text {
  width: 276px;
  height: 59px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 21px;
  margin-bottom: 19px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 12px;
  }

  &::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }

  &::-moz-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }

  &:-moz-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }

  &:-ms-input-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }
}

.contest-form__item--row .contest-form__text {
  @media (min-width: @tablet-width) {
    margin-right: -20px;
  }
}

.contest-form__label--textarea {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 30px;
  color: @pink-color;
  text-transform: uppercase;
  text-align: center;
}

.contest-form__textarea {
  width: 276px;
  min-height: 197px;
  padding: 22px 19px;
  margin-bottom: 48px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: block;
    width: 496px;
    min-height: 189px;
    margin-bottom: 0;
    .margin();
  }

  &::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }

  &::-moz-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }

  &:-moz-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }

  &:-ms-input-placeholder {
    font-size: 18px;
    line-height: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: @base-color;
  }
}
