.feedback {
  width: 100%;

  @media (min-width: @desktop-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 71px;
      left: 47.2%;
      width: 79px;
      height: 64px;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
    }
  }
}

.feedback__wrapper {
  position: relative;
  width: 320px;
  min-height: 353px;
  .margin();
  .padding();
  padding-top: 42px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 643px;
    min-height: 252px;
    padding: 0;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 100%;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 183px;
  }
}

.feedback__arrow {
  position: absolute;
  z-index: 200;
  top: 51%;
  display: none;
  width: 22px;
  height: 42px;
  fill: rgba(40, 54, 69, 0.3);
  cursor: pointer;

  &--left {
    left: 10px;
  }

  &--right {
    right: 10px;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.feedback__arrow:hover {
  fill: rgba(40, 54, 69, 0.6);
}

.feedback__arrow:active {
  fill: rgba(40, 54, 69, 0.1);
}

.feedback__item {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: column-reverse;
  }
}

.feedback__author {
  display: block;
  margin-bottom: 15px;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: black;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 34px;
    margin-bottom: 5px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 3px;
    font-size: 24px;
  }
}

.feedback__description {
  display: none;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 14px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.feedback__text {
  margin: 0;
  line-height: 30px;
  text-align: center;

  @media (min-width: @desktop-width) {
    width: 700px;
    .margin();
  }
}
