.filter-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 55px;
  padding-right: 65px;
  list-style: none;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    margin-right: 26px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 44px;
  }
}

.filter-list__item {
  position: relative;
  height: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin-top: 27px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.filter-list__item:first-child {
  @media (min-width: @tablet-width) {
    margin-top: 9px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -3px;
  }
}

.filter-list__item--active,
.filter-list__item--active:hover {
  fill: @pink-color;
  opacity: 1;
}

.filter-list__item--framing {
  width: 48px;
  padding-top: 48px;

  @media (min-width: @tablet-width) {
    width: 24px;
    padding-top: 24px;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    width: 48px;
    padding-top: 48px;
    margin-right: 0;
  }
}

.filter-list__item--effects {
  width: 48px;
  padding-top: 48px;
  margin-right: 9px;

  @media (min-width: @tablet-width) {
    width: 24px;
    padding-top: 24px;
    margin-right: 0;
    margin-left: -2px;
  }

  @media (min-width: @desktop-width) {
    width: 48px;
    padding-top: 48px;
    margin-right: 0;
    margin-left: 0;
    margin-top: -3px;
  }
}

.filter-list__item--contrast {
  width: 34px;
  padding-top: 34px;

  @media (min-width: @tablet-width) {
    width: 16px;
    padding-top: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 34px;
    padding-top: 34px;
    margin-right: 0;
    margin-bottom: 13px;
  }
}

.filter-list__svg {
  position: absolute;
  top: 0;
  left: 0;
  fill-opacity: 0.3;

  &--active {
    fill: @pink-color;
    fill-opacity: 1;
  }

  &:hover {
    fill-opacity: 0.5;
  }
}

.filter-list__svg--framing,
.filter-list__svg--effects {
  @media (min-width: @tablet-width) {
    width: 24px;
    height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 48px;
    height: 48px;
  }
}

.filter-list__svg--contrast {
  @media (min-width: @tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 32px;
    height: 32px;
  }
}
