.likes {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: @pink-color;
  text-transform: uppercase;
}

.likes__heart {
  width: 32px;
  height: 0;
  padding-top: 12px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    order: 2;
    width: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 20px;
    margin-left: 0;
  }
}

.likes__heart--panorama {
  width: 32px;

  @media (min-width: @tablet-width) {
    margin-left: 17px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 18px;
  }
}

.likes__text {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}
