.likes {
  font-size: 12px;
  color: @pink-color;
  text-transform: uppercase;
}

.likes__heart {
  display: inline-block;
  width: 32px;
  height: 12px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
}
