.map {
  width: 100%;
}

.map__wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 320px;
  min-height: 203px;
  .margin();
  margin-top: 8px;
  background-image: url(../img/bg-triangle-white-footer.svg), url("../img/icon-map-marker.svg"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% -13.7%, 142px 97px, 0 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    max-width: 100%;
    min-height: 377px;
    margin-top: 0;
    background-image: url(../img/bg-triangle-white-footer-tablet.svg), url("../img/icon-map-marker.svg"), url("../img/bg-map-tablet@1x.png");
    background-position: 50% 0%, 0 0, 0 0;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    max-width: 1200px;
    min-height: 503px;
  }
}
