.note {
  display: block;
  width: 276px;
  margin-top: 35px;
  margin-bottom: 0;
  .margin();
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }
}

.note__star {
  color: @pink-color;
}

.note__only-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}
