.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 100;
  width: 100%;
  .margin();
  .padding();
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: @base-color;
  box-sizing: border-box;
}

.page-header__logo {
  align-self: flex-start;
}
