.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 100;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: @base-color;

  @media (min-width: @tablet-width) {
    padding-top: 27px;
    padding-bottom: 43px;
  }
}

.page-header__wrapper {
  width: 100%;
  .margin();
  .padding();
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 640px;
  }
}

.page-header__logo {
  align-self: flex-start;
}
