.page-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  .margin();
  box-sizing: border-box;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 640px;
    .margin();
    padding-top: 38px;
    padding-left: 6px;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    max-width: 940px;
    padding-top: 71px;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-footer--nomobile {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 33px;
  background-image: url("../img/logo-pink-mobile.svg");
  background-size: 147px 41px;
  background-repeat: no-repeat;
  background-position: 50.1% 0%;

  &:active {
    background-image: none;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-top: -5px;
    background-position: 50% 0%;
  }
}

.page-footer__logo--active {
  background-image: none;
}

.page-footer__image {
  &:hover {
    opacity: 0;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__image--active {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}
