.page-main__header {
  margin: 0;
  margin-top: -77px;
  padding-top: 105px;
  .padding();
  .margin();
  width: 100%;
  min-height: 245px;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: white;
  text-align: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  overflow: hidden;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 100%;
    max-width: 660px;
    padding-top: 171px;
    padding-bottom: 140px;
    margin-top: -180px;
    font-size: 50px;
    line-height: 58px;
    background-size: cover;

    &--form {
      padding-bottom: 83px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 163px;
    padding-bottom: 105px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: none;

    &--form {
      max-width: 960px;
      padding-bottom: 103px;
    }
  }
}

.page-main__wrapper {
  width: 100%;
  min-height: 234px;
  margin-top: -69px;
  background-color: @base-color;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-top: 191px;
    margin-top: -110px;
    font-size: 50px;
    line-height: 56px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

.page-main__promo {
  .margin();
  box-sizing: border-box;
  text-align: center;

  &--one {
    padding-top: 47px;
    padding-bottom: 48px;
  }

  &--two {
    padding-top: 45px;
    padding-bottom: 41px;
  }

  &--three {
    padding-top: 47px;
    padding-bottom: 48px;
  }

  @media (min-width: @tablet-width) {
    &--one {
      padding-top: 94px;
      padding-bottom: 75px;
    }

    &--two {
      padding-top: 43px;
      padding-bottom: 67px;
    }

    &--three {
      padding-top: 92px;
      padding-bottom: 70px;
    }
  }

  @media (min-width: @desktop-width) {
    &--one {
      padding-top: 91px;
      padding-bottom: 88px;
    }

    &--two {
      padding-top: 6px;
      padding-bottom: 67px;
    }

    &--three {
      padding-top: 92px;
      padding-bottom: 84px;
    }
  }
}

.page-main__text {
  margin: 0;
  .margin();
  width: 275px;
  line-height: 30px;

  &--one {
    width: 253px;
  }

  @media (min-width: @tablet-width) {
    width: 500px;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 600px;

    &--form {
      width: 780px;
    }
  }
}

.page-main__text--nomobile {
  position: absolute;
  width: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);

  @media (min-width: @tablet-width) {
    position: relative;
    margin: 0;
    .margin();
    width: 350px;
    overflow: visible;
    clip: auto;
  }
}
