.page-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 40px;
  .padding();
  .margin();
  padding-top: 40px;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 640px;
    .margin();
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer--hidden {
  display: none;
}

.page-footer__logo {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
