.photos {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: @tablet-width) {
    flex-wrap: wrap;
  }
}

.photos__wrapper--flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .margin();

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 640px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    .margin();
    padding-left: 10px;
    padding-right: 10px;
  }
}

.photos__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  .margin();
  margin-bottom: 21px;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-right: 20px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    margin-bottom: 53px;

    &:nth-child(2n) {
      margin-right: 20px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.photos__pictures {
  height: 180px;

  @media (min-width: @tablet-width) {
    height: 300px;
  }

  @media (min-width: @desktop-width) {
    height: 400px;
  }
}

.photos__pictures--panorama {
  height: 137px;

  @media (min-width: @tablet-width) {
    height: 509px;
  }

  @media (min-width: @desktop-width) {
    height: 506px;
  }
}

.photos__pictures--posting {
  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.photos__link {
  line-height: 0;
}

.photos__image {
  @media (min-width: @tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: @desktop-width) {
    height: 400px;
  }
}

.photos__item--panorama {
  position: relative;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    right: 20px;
    width: 140px;
    height: 35px;
    background-color: @pink-color;
  }

  &::after {
    content: "Панорама дня";
    position: absolute;
    z-index: 100;
    top: 6px;
    right: 10px;
    width: 130px;
    height: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    width: 100%;
    max-width: 660px;
    .margin();
    margin-bottom: 51px;

    &::before {
      top: 58px;
      right: 21px;
    }

    &::after {
      top: 64px;
      right: 11px;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;

    &::before {
      top: 57px;
      right: 130px;
    }

    &::after {
      top: 63px;
      right: 120px;
    }
  }
}

.photos__wrapper--panorama {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.photos__image--panorama {
  @media (min-width: @tablet-width) {
    width: 100%;
    max-width: 700px;
    height: 509px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    max-width: 1200px;
    height: 506px;
  }
}

.photos__description {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-top: 19px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #f2f2f2;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 300px;
    padding-top: 24px;
    padding-left: 28px;
    padding-right: 20px;
    padding-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 25px;
  }
}

.photos__description--post {
  @media (min-width: @tablet-width) {
    min-height: 155px;
  }
}

.photos__description--panorama {
  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding-right: 19px;
    padding-bottom: 23px;
  }
}

.photos__author {
  font-weight: 700;
  font-style: normal;
}

.photos__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photos__likes--panorama {
  @media (min-width: @tablet-width) {
    align-self: flex-end;
    order: 2;
    margin-top: -24px;
    margin-right: -10px;
  }

  @media (min-width: @desktop-width) {
    margin-right: -6px;
  }
}

.photos__likes--post {
  @media (min-width: @tablet-width) {
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    margin-left: auto;
  }
}

.photos__text {
  min-height: 25px;
  margin: 0;
  margin-bottom: 9px;
}

.photos__text--panorama {
  @media (min-width: @tablet-width) {
    order: 3;
    margin-bottom: 0;
  }
}
