.photos {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.photos__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  .margin();
  margin-bottom: 20px;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 0;
  }
}

.photos__item--panorama {
  @media (min-width: @tablet-width) {
    flex-direction: column;
    width: 100%;
  }
}

.photos__description {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #f2f2f2;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 300px;
    padding-left: 28px;
    padding-right: 20px;
  }
}

.photos__description--post {
  @media (min-width: @tablet-width) {
    justify-content: space-between;
    min-height: 155px;
  }
}

.photos__description--panorama {
  @media (min-width: @tablet-width) {
    width: 620px;
  }
}

.photos__wrapper--panorama {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.photos__author {
  font-weight: 700;
  font-style: normal;
}

.photos__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photos__likes--panorama {
  @media (min-width: @tablet-width) {
    align-self: flex-end;
    order: 2;
    margin-top: -23px;
  }
}

.photos__likes--post {
  @media (min-width: @tablet-width) {
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
  }
}

.photos__text {
  margin: 0;
  margin-bottom: 14px;
}

.photos__text--panorama {
  @media (min-width: @tablet-width) {
    order: 3;
  }
}
