.posting {
  width: 320px;
  .padding();
  box-sizing: border-box;
}

.posting__image {
  margin-bottom: 42px;
}

.posting__filter {
  margin-bottom: 34px;
}

.posting__scale {
  position: relative;
  width: 240px;
  height: 2px;
  margin-left: 20px;
  margin-bottom: 29px;
  background-color: @base-color;
  
  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: -40px;
    width: 320px;
    height: 1px;
    background-color: #dddfe0;
  }
}

.posting__controller {
  position: absolute;
  top: -7px;
  right: 33px;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 2px solid @pink-color;
  border-radius: 50%;
}

.posting__wrapper {
  width: 320px;
  .padding();
  margin-left: -20px;
  padding-top: 38px;
  padding-bottom: 41px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.posting__button {
  margin-bottom: 12px;
  
  &:last-child {
    margin-bottom: 0;
  }
}
