.price {
  position: relative;
  width: 320px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.price__column {
  position: relative;
  padding: 20px 25px;
  text-transform: uppercase;
  background-color: white;
}

.price__column--yes::after,
.price__column--no::after {
  content: "";
  position: absolute;
}

.price__column--yes::after {
  top: 22px;
  right: 17px;
  width: 31px;
  height: 21px;
  background-image: url(../img/icon-yes.svg);
  background-repeat: no-repeat;
}

.price__column--no::after {
  top: 15px;
  right: 19px;
  width: 27px;
  height: 26px;
  background-image: url(../img/icon-no.svg);
  background-repeat: no-repeat;
}

.price__column--header {
  display: flex;
  flex-direction: column;
  padding: 20px 90px;
  line-height: 30px;
  color: white;
  background-color: @dark-color;
  text-transform: uppercase;
}

.price__header {
  font-weight: 700;
  font-size: 18px;
}

.price__value {
  font-weight: 300;
  font-size: 24px;
}
