.price {
  width: 100%;
  padding-top: 39px;
  background-color: #f2f2f2;
}

.price__wrapper {
  min-width: 320px;
  max-width: 640px;
  .margin();
  overflow: hidden;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 640px;
    .padding();
  }
}

.price__table {
  width: 840px;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    width: 600px;
  }
}

.price__column {
  position: relative;
  width: 276px;
  padding: 14px 21px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: white;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 152px;
    height: 45px;
    padding: 0;
  }
}

.price__column--yes::after {
  content: "";
  position: absolute;
  top: 22px;
  right: 17px;
  width: 31px;
  height: 21px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: 15px;
    right: 50px;
  }
}

.price__column--no::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 19px;
  width: 27px;
  height: 27px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: 8px;
    right: 57px;
  }
}

.price__column--header {
  font-size: 18px;
  background-color: @dark-color;
  color: white;
  border-color: @dark-color;
  border-right-color: #e5e5e5;

  &:last-child {
    border-right-color: @dark-color;
  }

  @media (min-width: @tablet-width) {
    padding: 14px 21px;
  }
}

.price__value {
  font-weight: 300;
  font-size: 24px;
}

.price__column--name {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
    padding-right: 19px;
    padding-left: 14px;
    text-transform: none;
    box-sizing: border-box;
  }
}

.price__column--grey {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
    background-color: #f2f2f2;
    border-left-color: #f2f2f2;
    border-top-color: #f2f2f2;
    border-right-color: #f2f2f2;
  }
}

.price__parameter {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
