.site-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.site-list__link {
  position: relative;
  display: block;
  padding-top: 26px;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  
  &:last-child {
    padding-bottom: 3px;
  }
}
