.slider-transform {
  position: relative;
}

.slider__table {
  transition: transform 0.2s ease-in-out;
}

.slider__list,
.slider-transform__list {
  padding-left: 0;
  margin: 0;
  padding-bottom: 80px;
  list-style: none;
}

.slider__item {
  position: absolute;
  margin: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.slider-transform__slides {
  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.slider__toggle,
.slider-transform__toggle {
  position: absolute;
  z-index: 100;
  bottom: 28px;
  width: 6px;
  height: 5px;
  background-color: fade(@base-color, 30%);
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background-color: fade(@base-color, 60%);
  }

  &:active {
    background-color: fade(@base-color, 10%);
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.slider-transform__toggle--four,
.slider-transform__toggle--five,
.slider-transform__toggle--six {
  border-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.slider-transform__controls {
  position: relative;
  max-width: 320px;
  .margin();
}

.slider__input--one:checked ~ .slider__slides .slider__toggle--one,
.slider__input--two:checked ~ .slider__slides .slider__toggle--two,
.slider__input--three:checked ~ .slider__slides .slider__toggle--three,
.slider-transform__input--four:checked ~ .slider-transform__slides .slider-transform__toggle--four,
.slider-transform__input--five:checked ~ .slider-transform__slides .slider-transform__toggle--five,
.slider-transform__input--six:checked ~ .slider-transform__slides .slider-transform__toggle--six {
  width: 6px;
  height: 5px;
  background-color: white;
  border: 3px solid @base-color;
}

.slider__input--one:checked ~ .slider__slides .slider__item--one,
.slider__input--two:checked ~ .slider__slides .slider__item--two,
.slider__input--three:checked ~ .slider__slides .slider__item--three {
  position: relative;
  clip: none;
  overflow: visible;
  opacity: 1;
}

.slider-transform__input--four:checked ~ .slider-transform__slides .slider__table {
  transform: translate(2.5%);

  @media (min-width: @tablet-width) {
    transform: none;
  }
}

.slider-transform__input--five:checked ~ .slider-transform__slides .slider__table {
  transform: translate(-30.5%);

  @media (min-width: @tablet-width) {
    transform: none;
  }
}

.slider-transform__input--six:checked ~ .slider-transform__slides .slider__table {
  transform: translate(-63%);

  @media (min-width: @tablet-width) {
    transform: none;
  }
}

.slider__toggle--one,
.slider-transform__toggle--four {
  left: 40%;

  @media (min-width: @tablet-width) {
    left: 45%;
  }
}

.slider__toggle--two,
.slider-transform__toggle--five {
  left: 47%;

  @media (min-width: @tablet-width) {
    left: 49%;
  }
}

.slider__toggle--three,
.slider-transform__toggle--six {
  left: 54%;

  @media (min-width: @tablet-width) {
    left: 53%;
  }
}
